
## <summary>policy for supernodecoin</summary>


########################################
## <summary>
##	Transition to supernodecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`supernodecoin_domtrans',`
	gen_require(`
		type supernodecoin_t, supernodecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, supernodecoin_exec_t, supernodecoin_t)
')


########################################
## <summary>
##	Execute supernodecoin server in the supernodecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`supernodecoin_initrc_domtrans',`
	gen_require(`
		type supernodecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, supernodecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search supernodecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`supernodecoin_search_lib',`
	gen_require(`
		type supernodecoin_var_lib_t;
	')

	allow $1 supernodecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read supernodecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`supernodecoin_read_lib_files',`
	gen_require(`
		type supernodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, supernodecoin_var_lib_t, supernodecoin_var_lib_t)
')

########################################
## <summary>
##	Manage supernodecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`supernodecoin_manage_lib_files',`
	gen_require(`
		type supernodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, supernodecoin_var_lib_t, supernodecoin_var_lib_t)
')

########################################
## <summary>
##	Manage supernodecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`supernodecoin_manage_lib_dirs',`
	gen_require(`
		type supernodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, supernodecoin_var_lib_t, supernodecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a supernodecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`supernodecoin_admin',`
	gen_require(`
		type supernodecoin_t;
		type supernodecoin_initrc_exec_t;
		type supernodecoin_var_lib_t;
	')

	allow $1 supernodecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, supernodecoin_t)

	supernodecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 supernodecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, supernodecoin_var_lib_t)

')

