# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SupernodeCoin
Comment=SupernodeCoin QT test network
GenericName=SupernodeCoin Digital Currency QT client testnet network
Exec=supernodecoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/supernodecoin_testnet.png
MimeType=x-scheme-handler/suno;
Categories=X-Office;X-Finance;
Keywords=internet;supernodecoin;zsuno;tbc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
